@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Resets padding, margin and set the box sizing to border box */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  position: relative; /* Needed in order to use position fixed in navbar and burger-toggle */
}

body.hideOverflow {
  overflow: hidden; /* Disable scrollbar when burger menu is open */
}

/* CLASSES */
div.container {
  max-width: 1200px;
  margin: auto; 
  padding: 1em;
}

div.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* GENERAL */
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: 2px solid;
  padding: 1em 2em;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: 700;
}

/* BURGER MENU */
#burger-toggle {
  position: fixed; /* Used to keep the toggle always in the same part of the screen, even if user scrolls down */
  right: 16px;
  top: 16px;
  width: 30px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Makes the toggle always visible */
  cursor: pointer;
}

#burger-toggle div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.4s ease;
}

#burger-toggle div::before,
#burger-toggle div::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

#burger-toggle div::after {
  top: 10px;
}

#burger-toggle.open div{
  transform: rotate(135deg);
}

#burger-toggle.open div::before,
#burger-toggle.open div::after {
  top: 0;
  transform: rotate(90deg);
}

/* NAVBAR */
nav  {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 58px;
  z-index: 1;
}

#nav-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  display: none; /* Navigation is not displayed by default */
}

#nav-container.visible {
  display: block; /* When this class is added to the navigation (With a JavaScript event), it becomes visible */
}

nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

nav ul li {
  margin-bottom: 3em;
}

nav ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;

}

/* HEADER */
header {
  min-height: 100vh;
  height: 100vh;
  background: url(/images/header-bg.jpg) center center/cover no-repeat;
  position: relative;
  color: #fff;
}

header div.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

header h1 {
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

header h3 {
  max-width: 700px;
  margin: 0 auto 2em auto;
  text-align: center;
  font-weight: 300;
}

header button {
  margin: 0 auto 0 auto;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

header button:hover {
  background-color: #fff;
  color: #000;
}

/* MAIN */
main {
  margin: 4em 0;
  text-align: center;
}

main div.flex-container {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  align-items: center;
  text-align: center;
}

main h2 {
  margin-bottom: 2em;
  border-bottom: 3px solid #d42626;
  display: inline;
}

#image {
  margin-bottom: 2em;
}

#image img {
  width: 100%;
}

main h3 {
  margin-bottom: 1em;
  text-align: center;
}

main p {
  max-width: 80%;
  margin: auto;
  margin-bottom: 2em;
}

main button {
  justify-self: center;
  border-color: rgb(212, 38, 38);
  background-color: rgb(212, 38, 38);
  color: #fff;
}

main button:hover {
  color: rgb(212, 38, 38);
  background-color: #fff;
}

footer {
  color: #fff;
  background-color: rgb(63, 63, 63);
  padding-top: 2em;
}

footer div {
  margin-bottom: 3em;
}

footer h4 {
  margin-bottom: 1em;
}

footer p {
  color: rgb(201, 201, 201);
}

footer p.white {
  color: #fff;
}

footer p.margin-btm {
  margin-bottom: .7em;
}

div #socials {
}

div #socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

div #socials ul li {
  margin-right: 30px;
}

div #socials ul li:last-child {
  margin-right: 0;
}

div #socials ul img {
  width: 30px;
}

div #copyright {
  margin-bottom: 0;
  text-align: center;
}

/* MEDIA QUERIES */
@media screen and (min-width: 660px) {
  #burger-toggle {
    display: none;
  }

  /* NAVBAR */
  nav  {
    position: absolute;
    background-color: transparent;
  }

  #nav-container {
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: transparent;
    display: block;
  }

  nav ul {
    display: flex;
    color: #000;
  }

  nav ul li {
    margin-right: 5em;
    margin-bottom: 0;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li a {
    font-size: 12px;
    padding-bottom: 2px;
    border-bottom: 3px solid transparent;
    transition: .2s ease;
  }

  nav ul li a:hover {
    border-bottom: 3px solid #d42626;
  }

  /* MAIN */
  main div.flex-container {
    flex-direction: row;
    justify-content: space-between;
  }

  main div.flex-container div{
    width: 50%;
  }

  main h2 {
    font-size: 1.8em;
  }

  div #image {
    margin-right: 2em;
  }

  div .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
  }
}