/* 
Note: In this assignment i will often use flexbox (a one dimensional layout system) in conjunction with justify-content and align-items to control the flow of the document.
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
/* Imports "Open Sans" from google's font library */

:root {
  --bright-red: #d42626; /* I am setting this color to a variable since it's used very often in the page */
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6; /* Specifies the height of the lines */
  position: relative; /* Needed in order to use position fixed in navbar and burger-toggle */
}

body.hideOverflow {
  overflow: hidden; /* Disable scrollbar when burger menu is open */
}

/* GENERAL */
div.container {
  max-width: 1200px;
  margin: auto; 
  padding: 1em;
}

a {
  text-decoration: none; /* Remove underline from links */
}


ul {
  list-style-type: none;
}

div .btn {
  border: 2px solid;
  padding: 1em 2em;
  text-transform: uppercase;
  cursor: pointer; /* Changes cursor to a pointer when user hovers on button */
  letter-spacing: 2px; /* Defines space between letters */
  transition: 0.2s ease; /* Used for animations, the first value is the length and the second the type of the animation */
  font-weight: 700;
  font-size: 14px;
  display: inline;
}

/* BURGER MENU */
#burger-toggle {
  position: fixed; /* Removes burger toggle from normal flow and keeps it always in the same position*/
  right: 16px;
  top: 16px;
  width: 30px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Makes the toggle always in front */
  cursor: pointer;
}

#burger-toggle div { /* Second line of the burger menu */
  position: relative; /* Needed in order to use position absolute in inner divs */
  width: 100%;
  height: 2px;
  background-color: #fff; /* White */
  transition: all 0.4s ease;
}

#burger-toggle div::before, /* First line of the burger menu */
#burger-toggle div::after {
  content: ''; /* Used with the ::before and ::after pseudo elements to insert content */
  position: absolute;
  top: -10px;
  width: 30px;
  height: 2px;
  background-color: #fff; /* White */
}

#burger-toggle div::after { /* Third line of burger menu */
  top: 10px;
}

#burger-toggle.open div{
  transform: rotate(135deg); /* Rotates the toggle of 135 degrees when the "open" class is applied */
}

#burger-toggle.open div::before,
#burger-toggle.open div::after {
  top: 0; /* Aligns the first and third line on top of each other */
  transform: rotate(90deg); /* Rotates the first and third line of 90 degrees when the "open" class is applied */
}

/* NAVIGATION */
nav  {
  position: fixed;
  background-color: #000; 
  width: 100%;
  height: 58px;
  z-index: 1;
}

#nav-container {
  position: absolute;
  height: 100vh; /* View Port units calculate the size of the screen the user is using, 100 means 100% of the screen */
  width: 100vw;
  background-color: #000; /* Black */
  display: none; /* Navigation is not displayed by default */
}

#nav-container.visible {
  display: block; /* When this class is added to the navigation (With a JavaScript event), it becomes visible */
}

nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Shifts the ul 50% of it's width and height back to the left and top, used in conjunction with top 50% and left 50% to center the ul */
  text-align: center;
}

nav ul li {
  margin-bottom: 3em;
}

nav ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

/* HEADER */
header {
  min-height: 100vh; 
  height: 100vh;
  background: url(../images/header-bg.jpg) center center/cover no-repeat;
  position: relative;
  color: #fff;
}

div.overlay { /* An overlay that will cover the whole header, giving it a darker shade */
  background-color: rgba(0, 0, 0, 0.5); /* rgba allows to specify the opacity of the color. From 0 (transparent) to 1 (solid) */
  position: absolute; /* Takes the element out of normal flow. Used in conjunction with the top, left, right and bottom property for more precise positioning*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Changes the flow of the flex container to column */
  min-height: 100vh;
  height: 100vh;
}

header h1 {
  font-size: 2.2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

header h3 {
  max-width: 700px;
  margin: 0 auto 2em auto;
  text-align: center;
  font-weight: 300;
}

header .btn {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

header .btn:hover { /* The hover selector specifies css properties when the element is hovered */
  background-color: #fff;
  color: #000;
}

/* MAIN */
main {
  margin: 4em 0;
  text-align: center;
}

main div.flex-container {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  align-items: center;
  justify-content: center;
}

main h2 {
  margin-bottom: 2em;
  border-bottom: 3px solid var(--bright-red);
  display: inline; /* Makes the header an inline element */
}

#image {
  margin-bottom: 2em;
}

#image img {
  width: 100%;
}

main h3 {
  margin-bottom: 1em;
  text-align: center;
}

main p {
  max-width: 80%;
  margin: auto;
  margin-bottom: 3em;
}

main .btn {
  border-color: var(--bright-red); 
  background-color: var(--bright-red);
  color: #fff;
}

main .btn:hover {
  color: var(--bright-red);
  background-color: #fff;
}

footer {
  color: #fff;
  background-color: rgb(63, 63, 63);
  padding-top: 2em;
}

footer div {
  margin-bottom: 3em;
}

footer h4 {
  margin-bottom: 1em;
}

footer p {
  color: rgb(201, 201, 201);
}

footer p.white {
  color: #fff;
}

footer p.margin-btm {
  margin-bottom: .7em;
}

div #socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

div #socials ul li {
  margin-right: 30px;
}

div #socials ul li:last-child {
  margin-right: 0;
}

div #socials ul img {
  width: 30px;
  transition: .2s ease;
}

div #socials ul img:hover {
  transform: scale(1.2); /* Scales the element by a factor of 1.2 */
}

div #copyright {
  margin-bottom: 0;
  text-align: center;
}

/* MEDIA QUERIES */
@media screen and (min-width: 660px) {
  #burger-toggle {
    display: none;
  }

  /* NAVIGATION */
  nav  {
    position: absolute;
    background-color: transparent;
  }

  #nav-container {
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: transparent;
    display: block;
  }

  nav ul {
    display: flex;
    color: #000; /* Black */
  }

  nav ul li {
    margin-right: 5em;
    margin-bottom: 0;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li a {
    font-size: 12px;
    padding-bottom: 2px;
    border-bottom: 3px solid transparent;
    transition: .2s ease;
  }

  nav ul li a:hover {
    border-bottom: 3px solid var(--bright-red); 
  }

  /* HEADER */
  header h1 {
    font-size: 2.5em;
  }

  /* MAIN */
  main div.flex-container {
    flex-direction: row; /* Changes the flow of the flex container to row */
    justify-content: space-between;
  }

  main div.flex-container div{
    width: 50%;
  }

  main h2 {
    font-size: 1.8em;
  }

  div #image {
    margin-right: 2em;
  }

  div .grid-container { /* Grid is a 2 dimentional layout module, similar to flexbox */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 responsive columns with the same width */
    gap: 3em; /* Specifies the space between the columns */
  }
}